[submodule "albert-arvidsson-elixir"]
	path = albert-arvidsson-elixir
	url = git@github.com:scmx/advent-of-code-2020-elixir.git
[submodule "johan-oelrich-rust"]
	path = johan-oelrich-rust
	url = https://github.com/oelrich/advent-of-code-2020.git
[submodule "pownas-csharp"]
	path = pownas-csharp
	url = https://github.com/pownas/Advent-Of-Code-2020.git
[submodule "tradfursten-kotlin"]
	path = tradfursten-kotlin
	url = https://github.com/tradfursten/advent_of_code_2020.git
[submodule "LinAGKar-rust"]
	path = LinAGKar-rust
	url = https://github.com/LinAGKar/advent-of-code-2020-rust.git
