[submodule "albert-arvidsson-elixir"]
	path = albert-arvidsson-elixir
	url = git@github.com:scmx/advent-of-code-2020-elixir.git
[submodule "johan-oelrich-rust"]
	path = johan-oelrich-rust
	url = https://github.com/oelrich/advent-of-code-2020.git
[submodule "pownas-csharp"]
	path = pownas-csharp
	url = https://github.com/pownas/Advent-Of-Code-2020.git
[submodule "tradfursten-kotlin"]
	path = tradfursten-kotlin
	url = https://github.com/tradfursten/advent_of_code_2020.git
[submodule "LinAGKar-rust"]
	path = LinAGKar-rust
	url = https://github.com/LinAGKar/advent-of-code-2020-rust.git
[submodule "plux-erlang"]
	path = plux-erlang
	url = https://github.com/plux/advent2020.git
[submodule "krig-rust"]
	path = krig-rust
	url = https://github.com/krig/aoc-2020.git
[submodule "mlonn-go"]
	path = mlonn-go
	url = git@github.com:mlonn/adventofcode-2020.git
[submodule "prositen-python"]
	path = prositen-python
	url = https://github.com/prositen/advent-of-code
[submodule "odnoletkov-jq"]
	path = odnoletkov-jq
	url = https://github.com/odnoletkov/advent-of-code-2020-jq.git
[submodule "ygge-java"]
	path = ygge-java
	url = https://github.com/ygge/adventofcode2020
[submodule "lemonad-r"]
	path = lemonad-r
	url = https://github.com/lemonad/advent-of-code.git
[submodule "heinerud-go-python"]
	path = heinerud-go-python
	url = https://github.com/heinerud/aoc20
[submodule "bjornin-python"]
	path = bjornin-python
	url = https://github.com/bjornin/adventofcode2020
